<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SGAIFCE</a>

    <span class="navbar-text ms-auto" sec:authorize="isAuthenticated()">
      Olá, <strong th:text="${nomeUsuario}">Usuário</strong>!
    </span>

    <ul class="navbar-nav ms-3">
      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link" href="/login">Login</a>
      </li>

      <li class="nav-item" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post" style="display:inline;">
          <button type="submit" class="btn btn-link nav-link">Sair</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
