<div th:fragment="sidebar" class="d-flex flex-column bg-light vh-100 p-3">
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="/">Início</a>

    <!-- Seção Admin -->
    <div sec:authorize="hasRole('ADMIN')" class="mt-3">
      <span class="fw-bold text-uppercase mb-1">Admin</span>
      <a class="nav-link" href="/admin/dashboard">Dashboard</a>
      <a class="nav-link" href="/usuarios/lista">Usuários</a>
      <a class="nav-link" href="/professor/lista">Professores</a>
      <a class="nav-link" href="/disciplinas/lista">Disciplinas</a>
      <a class="nav-link" href="/turmas/lista">Turmas</a>
      <a class="nav-link" href="/matriculas/lista">Matrículas</a>
    </div>

    <!-- Seção Aluno -->
    <div sec:authorize="hasRole('ALUNO')" class="mt-4">
      <span class="fw-bold text-uppercase mb-1">Aluno</span>
      <a class="nav-link" href="/aluno/home">Área do Aluno</a>
    </div>
  </nav>
</div>
